*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin-top: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container{
  height: 60vh;
}

.name-wrapper{
  background-color: rebeccapurple;
}

.projects-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.project{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  aspect-ratio: 2/1;
  background-color: burlywood;
}

.project-text-wrapper{
  display: flex;
  justify-content: space-between;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
  background-color: green;
}

ul.tasks{
  display: flex;
  list-style: none;
  margin: 2rem;
  gap: 1rem;
}

.tasks-checkbox{
  background-color: red;
  color: red;
}

.tasks-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tasks-container h3{
  
}

.add-tasks-btn-wrapper{
  width: 100%;
}

.add-tasks-btn{
  width: 100%;
  padding: 1rem;
}